:root {
	--main-background-color: #000000;
	--container-background-color: #444444;
	--text-color: #dddddd;

	--valid: #2afc006c;
	--unknown-error: #ff99005b;
	--warning: #ea00ff5b;
	--error: #ff00005b;
}

html, body {
	height: 100%;
	margin: 0;

	color: var(--text-color);
	font-family: 'Monaco', sans-serif, monospace;
}

#grid-wrapper {
	min-height: 600px;
	height: calc(100% - 48px);
	background-color: var(--main-background-color);
	
	display: grid;
	gap: 10px;
	grid-template-columns: 300px 1fr 1fr;
	grid-template-rows: 1fr 206px;
}

#grid-wrapper-file-system {
	grid-column: 1;
	grid-row: 1;
}

#grid-wrapper-file-menu {
	grid-column: 1;
	grid-row: 2;
}

#grid-wrapper-editor {
	grid-column: 2;
	grid-row: 1;
	overflow: auto;
}

#grid-wrapper-elements {
	grid-column: 3;
	grid-row: 1;
	overflow: auto;
}

#grid-wrapper-tab-data {
	grid-column: 2 / 4;
	grid-row: 2;
}

div {
	background-color: var(--container-background-color);
}

.text-centered {
	text-align: center;
}

.text-container {
	padding: 10px;
}

.code-container {
	padding: 20px;
	white-space: pre;
}

.navbar {
	overflow: auto;
	height: 46px;
	border: 1px solid black;
}

.navbar a{
	color: var(--text-color);
	float: left;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
}

.navbar button {
	background: var(--container-background-color);
	color: var(--text-color);
	float: left;
	display: block;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-weight: bold;
}

.file-sys-element {
	background: var(--container-background-color);
	color: var(--text-color);
	display: block;
	border: none;
	outline: none;
	padding: 14px 8px;
	font-weight: bold;
}

.file {
	margin-left: 48px;
	cursor: pointer;
}

.directory {
	margin-left: 16px;
}

#grid-wrapper-file-menu button {
	float: right;
}

.focus-element {
	position: relative;
}

.focus-element span {
	visibility: hidden;
	width: 120px;
	background-color: var(--container-background-color);
	color: var(--text-color);
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: -16px;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.focus-element:hover span {
	visibility: visible;
	opacity: 1;
}

.collapsible {
	background: var(--container-background-color);
	color: var(--text-color);
	float: left;
	display: block;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 12px;
	margin-right: 12px;
	font-weight: bold;
}

.collapsible-content {
	display: none;
}

.active, .navbar .active, .navbar a:hover, .navbar button:hover, .file:hover, .collapsible:hover {
	background: var(--text-color);
	color: var(--container-background-color);
}

.valid {
	background-color: var(--valid);
}

.unknown-error {
	background-color: var(--unknown-error);
}

.warning {
	background-color: var(--warning);
}

.error {
	background-color: var(--error);
}

@media (max-width: 960px) {
	#grid-wrapper {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 2fr 1fr 1fr;
	}
	
	#grid-wrapper-file-system {
		grid-row: 1;
		grid-column: 1;
	}
	
	#grid-wrapper-editor {
		grid-row: 2;
		grid-column: 1;
	}
	
	#grid-wrapper-elements {
		grid-row: 3;
		grid-column: 1;
	}
	
	#grid-wrapper-tab-data {
		grid-row: 4;
		grid-column: 1;
	}
}
